<template>
  <Link
    class="card text-center m-4"
    :href="route('detail', {book: book.book_title}) + '?data=' + JSON.stringify(book) + '&bookTitle=' + bookTitle"
  >
    <img
      class="card-img-top"
      :src="`/storage/book_covers/${book.genre_id}/${book.user_id}/${book.id}/${book.book_cover}`"
    >
    <div class="card-body">
      <h5 class="card-title">{{ bookTitle }}</h5>
    </div>
  </Link>
</template>

<script>
import { Link } from '@inertiajs/vue3'

export default {
  props: {
    bookTitle: String,
    book: Object
  },
  components: {
    Link
  }
}
</script>

<style lang="scss" scoped>
.card {
  width: 16rem;
  background-color: #D7C5E2;

  .card-img-top {
    width: 100%;
    height: 200px;
  }

  .card-title {
    color: dimgray;
  }
}
</style>
