<template>
  <Link
    class="card text-center m-4"
    :href="route('genre.genre', { genre: genre.genre }) + '?genreId=' + genre.id + '&genreTitle=' + genreTitle"
  >
    <img class="card-img-top" :src="'/images/genre_images/' + genre.image" />
    <div class="card-body">
      <h5 class="card-title">{{ genreTitle }}</h5>
    </div>
  </Link>
</template>

<script>
import { Link } from '@inertiajs/vue3'

export default {
  props: {
    genreTitle: String,
    genre: Object
  },
  components: {
    Link
  }
}
</script>

<style lang="scss" scoped>
.card {
  width: 13rem;
  background-color: #D7C5E2;

  .card-img-top {
    padding: 16px;
    width: 100%;
    height: 200px;
  }

  .card-title {
    color: dimgray;
  }
}
</style>
