<template>
  <Head title="Detail" />

  <AuthenticatedLayout>
    <div class="main-container py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="pt-4 text-gray-900 d-flex justify-content-center">Book Detail</div>
          <div class="container">
            <img
              class="img-fluid rounded my-4"
              :src="`/storage/book_covers/${data.genre_id}/${data.user_id}/${data.id}/${data.book_cover}`"
            >
            <h2>{{ $page.props.bookTitle }}</h2>
            <button type="submit" :disabled="isDisabled" @click.prevent="purchaseBook" class="btn btn-dark my-4">
              Purchase Book
            </button>
          </div>

          <Modal :show="alert">
            <div class="p-4 text-gray-900 d-flex justify-content-center">Alert</div>
            <hr>
            <div class="alert p-5 text-gray-900 d-flex justify-content-center">{{ alert }}</div>
            <div class="pb-4 d-flex justify-content-center">
              <span class="inline-flex rounded-md">
                <Link :href="route('dashboard')">
                  <button type="button"
                    class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition ease-in-out duration-150">
                    Go To Book Collection
                  </button>
                </Link>
              </span>
            </div>
          </Modal>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>

<script>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue'
import { Head, Link } from '@inertiajs/vue3'
import Modal from '@/Components/Modal.vue'

export default {
  data() {
    return {
      isDisabled: false,
      data: {},
      alert: null
    }
  },
  components: {
    AuthenticatedLayout,
    Head,
    Modal,
    Link
  },
  methods: {
    getData() {
      this.data = JSON.parse(this.$page.props.data)
    },
    async purchaseBook() {
      try {
        this.isDisabled = true
        const { data } = await axios.post('/api/purchase-book', this.data)
        if (data.message) {
          const message = `${data.message} you can access the E-Book by going to your Book Collection on Dashboard.`
          this.alert = message
        }
        else {
          this.alert = 'Purchase Success, you can access the E-Book by going to your Book Collection on Dashboard.'
        }
      }
      catch (err) {
        this.isDisabled = false
      }
    }
  },
  created() {
    if (!this.$page.props.data) {
      // later
    }
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.main-container {
  font-size: large;

  .container {
    justify-content: center;
    text-align: center;

    .btn {
      background-color: blue;
    }
  }

  .img-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 600;
    height: 250px;
  }
}

.alert {
  text-align: center;
}
</style>
