<template>
  <Head title="Book File" />

  <AuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">Reading Book</h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div>
            <div class="app-header">
              <template v-if="isLoading">
                Loading...
              </template>
              <template v-else>
                <span>
                  <button class="btn btn-dark btn-floating btn-sm" :disabled="page <= 1" @click="page--">
                    <i class="fas fa-angle-left"></i>
                  </button>
                  {{ page }} / {{ pageCount }}
                  <button class="btn btn-dark btn-floating btn-sm" :disabled="page >= pageCount" @click="page++">
                    <i class="fas fa-angle-right"></i>
                  </button>
                </span>
              </template>
            </div>
            <div class="app-content">
              <VPE ref="pdfRef" :source="pdfSource" :page="page" @password-requested="handlePasswordRequest"
                @rendered="handleDocumentRender" />
            </div>
            <div v-if="!isLoading" class="app-footer d-flex justify-content-center">
              <template v-if="!isLoading">
                <span class="">
                  <button class="btn btn-dark btn-floating btn-sm" :disabled="page <= 1" @click="page--">
                    <i class="fas fa-angle-left"></i>
                  </button>
                  {{ page }} / {{ pageCount }}
                  <button class="btn btn-dark btn-floating btn-sm" :disabled="page >= pageCount" @click="page++">
                    <i class="fas fa-angle-right"></i>
                  </button>
                </span>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>

<script>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue'
import { Head } from '@inertiajs/vue3'
import axios from 'axios'
import VPE from 'vue-pdf-embed'

export default {
  data() {
    return {
      isLoading: true,
      page: 1,
      pageCount: 1,
      pdfSource: {},
      bookData: null
    }
  },
  components: {
    AuthenticatedLayout,
    Head,
    VPE
  },
  methods: {
    handleDocumentRender() {
      this.isLoading = false
      this.pageCount = this.$refs.pdfRef.pageCount
    },
    handlePasswordRequest(callback, retry) {
      callback(prompt(retry ? 'Enter password again' : 'Enter password'))
    },
    async getBookFile() {
      try {
        this.bookData = JSON.parse(this.$page.props.data)
        const { data } = await axios.post('/api/read-book', this.bookData)
        this.pdfSource = 'data:application/pdf;base64,' + data
      }
      catch (err) {

      }
    }
  },
  created() {
    if (!this.$page.props.data) {
      // later
    }
    this.getBookFile()
  },
}
</script>

<style lang="scss" scoped>
.app-header {
  padding: 16px;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
  background-color: gray;
  color: white;
  vertical-align: middle;
  font-size: large;
  position: sticky;
}

.app-content {
  padding: 24px 16px;
}

.app-footer {
  padding: 16px;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
  background-color: gray;
  color: white;
  vertical-align: middle;
  font-size: large;
  position: sticky;
}
</style>
