<template>
  <Head title="Dashboard" />

  <AuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="p-5 text-gray-900">{{ $page.props.auth.user.name }} Book Collection</div>
          <div class="mx-5 mb-5">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Book Cover</th>
                  <th scope="col">Book Title</th>
                  <th scope="col">Book Author</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody v-for="bookCollection in bookCollections">
                <tr>
                  <th scope="row">
                    <a class="ripple" data-mdb-ripple-color="info" href="#!">
                      <img class="img-fluid rounded"
                        :src="`/storage/book_covers/${bookCollection.genre_id}/${bookCollection.user_id}/${bookCollection.id}/${bookCollection.book_cover}`" />
                    </a>
                  </th>
                  <td>{{ bookCollection.book_title }}</td>
                  <td>{{ bookCollection.author }}</td>
                  <td>
                    <Link
                      class="button btn btn-dark"
                      :href="route('file', {file: bookCollection.id}) + '?data=' + JSON.stringify(bookCollection)"
                    >
                      Open
                    </Link>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>

<script>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue'
import { Head, Link } from '@inertiajs/vue3'

export default {
  data() {
    return {
      bookCollections: []
    }
  },
  components: {
    AuthenticatedLayout,
    Head,
    Link
  },
  methods: {
    async getCollections() {
      try {
        axios.defaults.headers.post['Authorization'] = `Bearer ${localStorage.getItem('access_token')}`
        const { data } = await axios.get('/api/get-collection')
        this.bookCollections = data
      }
      catch (err) {
      }
    }
  },
  created() {
    this.getCollections()
  }
}
</script>

<style lang="scss" scoped>
.rounded {
  width: 130px;
  height: 80px;
}

td {
  vertical-align: middle;
}

.button {
  background-color: #7B3C9F;
}

.button:hover {
  background-color: #c868ff;
}
</style>
