<template>
  <Head title="Publish" />

  <AuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">Publish</h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="p-5">
            <h3>Publish a Book</h3>
            <section class="section p-5 border rounded justify-content-center my-3">
              <form autocomplete="off">
                <div class="input-group mb-4">
                  <input type="text" v-model="form.bookTitle" class="form-control" placeholder="Book Title" />
                </div>

                <div class="input-group mb-4">
                  <select class="form-select" v-model="form.genreId">
                    <option value="0" selected>Select Book Genre</option>
                    <option :value="genre.id" v-for="genre in genres" :key="genre.id">{{ genre.genre }}</option>
                  </select>
                </div>

                <div class="input-group mb-4">
                  <span class="input-group-text">Book Cover</span>
                  <input type="file" @change="changeBookCover" class="form-control file-input" id="bookCover" />
                </div>

                <div class="input-group mb-4">
                  <input type="number" v-model="form.bookPage" class="form-control" placeholder="Total Page">
                </div>

                <div class="input-group mb-4">
                  <input type="number" v-model="form.previewPage" class="form-control" placeholder="Preview Page">
                </div>

                <div class="input-group mb-4">
                  <input type="number" v-model="form.bookPrice" class="form-control" placeholder="Book Price">
                </div>

                <div class="input-group mb-4">
                  <span class="input-group-text">Book File</span>
                  <input type="file" @change="changeBookFile" class="form-control file-input" id="bookFile" />
                </div>

                <button type="submit" @click.prevent="publishSubmit"
                  class="btn btn-primary btn-block mb-4">Publish</button>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>

<script>
import axios from 'axios'
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue'
import CacheUtils from '@/Utils/CacheUtil'
import { Head } from '@inertiajs/vue3'

export default {
  data() {
    return {
      form: {
        bookTitle: '',
        bookPage: null,
        previewPage: null,
        bookPrice: null,
        bookAuthor: '',
        genreId: 0,
        userId: null,
      },
      formData: new FormData(),
      genres: []
    }
  },
  components: {
    AuthenticatedLayout,
    Head
  },
  methods: {
    changeBookCover(event) {
      this.formData.append('bookCover', event.target.files[0])
    },

    changeBookFile(event) {
      this.formData.append('bookFile', event.target.files[0])
    },

    async setAuthor() {
      try {
        const userData = this.$page.props.auth.user
        this.form.bookAuthor = userData.name
        this.form.userId = userData.id
      }
      catch (err) {

      }
    },

    async getGenre() {
      if (CacheUtils.isOnCache("genres")) {
        this.genres = CacheUtils.getFromCache("genres")
        return
      }
      try {
        const { data } = await axios.get('/api/get-genre')
        data.forEach(item => {
          item.genre = item.genre.replace(/[\s\/]/g, '-').toLowerCase()
        });
        this.genres = data
        CacheUtils.addToCache("genres", data)
      }
      catch (err) {

      }
    },

    async publishSubmit() {
      this.formData.append('bookTitle', this.form.bookTitle)
      this.formData.append('bookPage', this.form.bookPage)
      this.formData.append('previewPage', this.form.previewPage)
      this.formData.append('bookPrice', this.form.bookPrice)
      this.formData.append('bookAuthor', this.form.bookAuthor)
      this.formData.append('genreId', this.form.genreId)
      this.formData.append('userId', this.form.userId)
      try {
        await axios.post('/api/publish-book', this.formData)
      }
      catch (err) {

      }
    }
  },
  created() {
    this.getGenre()
    this.setAuthor()
  }
}
</script>

<style lang="scss" scoped>
.section {
  padding-left: 30%;
  padding-right: 30%;

  .file-input {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 6px 12px;
  }

  .btn {
    background-color: #7B3C9F;
  }
  .btn:hover {
    background-color: #c868ff;
  }
}

.input-group-text {
  color: dimgrey;
  background-color: lightgrey;
  user-select: none;
}
</style>
