<template>
  <Head title="Genre List" />

  <Index>
    <div class="container py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="pt-4 text-gray-900 d-flex justify-content-center">Genre List</div>
          <div class="pb-4">
            <Loading :isLoading="isLoading">
              <div class="d-flex flex-wrap justify-content-center">
                <div v-for="genre in genres">
                  <GenreItem :genreTitle="genreTitles[genre.id - 1]" :genre="genre" />
                </div>
              </div>
            </Loading>
          </div>
        </div>
      </div>
    </div>
  </Index>
</template>

<script>
import axios from 'axios'
import Index from '@/Pages/Index.vue'
import { Head } from '@inertiajs/vue3'
import Loading from '@/Components/Loading.vue'
import GenreItem from '@/Pages/Components/GenreItem.vue'
import CacheUtils from '@/Utils/CacheUtil'

export default {
  data() {
    return {
      genres: [],
      genreTitles: [],
      isLoading: true
    }
  },
  components: {
    Index,
    Head,
    Loading,
    GenreItem
  },
  methods: {
    async getGenre() {
      if (CacheUtils.isOnCache("genres")) {
        this.genres = CacheUtils.getFromCache("genres")
        this.genreTitles = CacheUtils.getFromCache("genreTitles")
        this.isLoading = false
        return
      }
      try {
        const { data } = await axios.get('/api/get-genre')
        data.forEach(item => {
          this.genreTitles.push(item.genre)
          item.genre = item.genre.replace(/[\s\/]/g, '-').toLowerCase()
        })
        this.genres = data
        CacheUtils.addToCache("genres", data)
        CacheUtils.addToCache("genreTitles", this.genreTitles)
        this.isLoading = false
      }
      catch (err) {

      }
    }
  },
  created() {
    this.getGenre()
  }
}
</script>

<style lang="scss" scoped>
.container {
  font-size: large;
}
</style>
