<template>
  <Head title="Category" />

  <div v-if="$page.props.auth.user">
    <AuthenticatedLayout>
      <slot />
    </AuthenticatedLayout>
  </div>

  <div v-else>
    <GuestLayout>
      <slot />
    </GuestLayout>
  </div>
</template>

<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue'
import GuestLayout from '@/Layouts/GuestLayout.vue'
import { Head } from '@inertiajs/vue3';
</script>

<style lang="scss" scoped>

</style>
