<template>
  <Head title="Marketplace" />

  <Index>
    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="container py-3">
            <h2 class="px-4 pt-4">All Book Collections</h2>
            <hr class="mx-4">
            <Loading :isLoading="isLoading">
              <div class="d-flex flex-wrap justify-content-start">
                <div v-for="book in books">
                  <BookItem :book="book" :bookTitle="bookTitles[book.id - 1]" />
                </div>
              </div>
            </Loading>
          </div>
        </div>
      </div>
    </div>
  </Index>
</template>

<script>
import Index from '@/Pages/Index.vue'
import { Head } from '@inertiajs/vue3'
import Loading from '@/Components/Loading.vue'
import BookItem from '@/Pages/Components/BookItem.vue'

export default {
  data() {
    return {
      books: [],
      bookTitles: [],
      isLoading: true
    }
  },
  components: {
    Index,
    Head,
    BookItem,
    Loading
  },
  methods: {
    async getBook() {
      try {
        const { data } = await axios.get('/api/get-book')
        data.forEach(item => {
          this.bookTitles.push(item.book_title)
          item.book_title = item.book_title.replace(/[\s\/]/g, '-').toLowerCase()
        })
        this.books = data
        this.isLoading = false
      }
      catch (err) {
        console.log('Log: ' + err)
      }
    }
  },
  created() {
    this.getBook()
  }
}
</script>

<style lang="scss" scoped>
.container {
  min-height: 75vh;
  font-size: large;
}
</style>
