<template>
  <Head title="Welcome" />

  <Index>
    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="homepage mx-5">
            <main class="main">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Welcome to Your e-Book Store</h1>
                    <p>Discover a wide range of e-books and enhance your reading experience.</p>
                    <Link class="button btn btn-primary mt-3" :href="route('marketplace')">
                      Browse Books
                    </Link>
                  </div>
                  <div class="col-md-12 pt-5">
                    <div class="card">
                      <div class="card-body">
                        <h2 class="font-semibold text-xl text-gray-600 leading-tight">Who Are We?</h2>
                        <p>
                          Buqq is a Startup Company that located in Indonesia with a focus on E-Commerce Sector, we are
                          providing both book writers and book readers, a place where they can publish their masterpieces
                          and reaching more readers online.<br>
                          With Buqq, you can publish your masterpiece, your mind and your idea online, without have to
                          pass
                          trough a complex process of normal book commercial that we used to do for century.<br><br>
                          You can join us now by simply sign-up an account and you can start publishing your book online.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-md-12">
                    <h2 class="my-3 font-semibold text-xl text-gray-600 leading-tight">Testimonials</h2>
                    <div class="card-deck">
                      <div class="card my-3">
                        <div class="card-body">
                          <p class="card-text">
                            "Buqq is easy to use, very user friendly. It doesn't require you to understand any complex
                            stuff, just write your book and publish it, set your price and we good to go."
                          </p>
                          <p class="card-text text-muted">
                            - Jhonny Dabb (this is example)
                          </p>
                        </div>
                      </div>
                      <div class="card my-3">
                        <div class="card-body">
                          <p class="card-text">
                            "Buqq is a place where i can find online book writers, with very unique idea. Some of them
                            writing a very good book that i can enjoy. Also it's easy to find the book you like by the
                            genre."
                          </p>
                          <p class="card-text text-muted">
                            - Jen Jane (this is example)
                          </p>
                        </div>
                      </div>
                      <div class="card my-3">
                        <div class="card-body">
                          <p class="card-text">
                            "With Buqq, i can reach out more book reader than i used to have. This app is really helpful
                            for non commercial book writer like me."
                          </p>
                          <p class="card-text text-muted">
                            - Jimmy Oliever (this is example)
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>


    </div>
  </Index>
</template>

<script setup>
import Index from '@/Pages/Index.vue'
import { Head, Link } from '@inertiajs/vue3'
</script>

<style scoped>
.bg-dots-darker {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-dots-lighter {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(255,255,255,0.07)'/%3E%3C/svg%3E");
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.main {
  flex: 1;
  padding: 40px 0;
}

.main h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.card {
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #7B3C9F;
}

.button:hover {
  background-color: #c868ff;
}
</style>
