<template>
  <div class="min-h-screen bg-gray-100">
    <nav class="bg-white border-b nav-border">
      <!-- Primary Navigation Menu -->
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <!-- Logo -->
            <div class="shrink-0 flex items-center">
              <Link :href="route('home')">
                <ApplicationLogo class="block h-9 w-auto fill-current text-gray-800" />
              </Link>
            </div>

            <!-- Navigation Links -->
            <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
              <NavLink :href="route('marketplace')" :active="route().current('marketplace')">
                Marketplace
              </NavLink>
            </div>
            <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
              <NavLink :href="route('genre')" :active="route().current('genre')">
                Genre
              </NavLink>
            </div>
          </div>

          <div class="hidden sm:flex sm:items-center sm:ml-6">
            <!-- Settings Dropdown -->
            <div class="button ml-3 relative">
              <span class="inline-flex rounded-md">
                <Link :href="route('login')">
                  <button type="button"
                    class="bg inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white focus:outline-none transition ease-in-out duration-150">
                    Login
                  </button>
                </Link>
              </span>
              <span class="inline-flex rounded-md">
                <Link :href="route('register')">
                  <button type="button"
                    class="bg inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white focus:outline-none transition ease-in-out duration-150">
                    Register
                  </button>
                </Link>
              </span>
            </div>
          </div>

          <!-- Hamburger -->
          <div class="-mr-2 flex items-center sm:hidden">
            <button @click="showingNavigationDropdown = !showingNavigationDropdown"
              class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path :class="{
                    hidden: showingNavigationDropdown,
                    'inline-flex': !showingNavigationDropdown,
                  }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16" />
                <path :class="{
                    hidden: !showingNavigationDropdown,
                    'inline-flex': showingNavigationDropdown,
                  }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Responsive Navigation Menu -->
      <div :class="{ block: showingNavigationDropdown, hidden: !showingNavigationDropdown }" class="sm:hidden">
        <div class="pt-2 pb-3 space-y-1">
          <ResponsiveNavLink :href="route('marketplace')" :active="route().current('marketplace')">
            Marketplace
          </ResponsiveNavLink>
          <ResponsiveNavLink :href="route('genre')" :active="route().current('genre')">
            Genre
          </ResponsiveNavLink>
        </div>
      </div>
    </nav>

    <div v-if="isAuth">
      <div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100">
        <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
          <slot />
        </div>
      </div>
    </div>
    <div v-else>
      <main class="main">
          <slot />
        </main>
    </div>
  </div>
</template>

<script>
import { Link } from '@inertiajs/vue3'

import ApplicationLogo from '@/Components/ApplicationLogo.vue'
import NavLink from '@/Components/NavLink.vue'
import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue'

export default {
  data() {
    return {
      showingNavigationDropdown: false
    }
  },
  props: {
    isAuth: {
      type: Boolean,
      default: false
    }
  },
  components: {
    ApplicationLogo,
    NavLink,
    ResponsiveNavLink,
    Link
  }
}
</script>

<style lang="scss" scoped>
.nav-border {
  border-color: #7B3C9F;
}

.button {
  display: flex;
  gap: 16px;

  .bg {
    background-color: #7B3C9F;
  }

  .bg:hover {
    background-color: #c868ff;
  }
}

.main {
  background-color: #F2EFF4;
}
</style>
